<header class="">
	<section class="mt-2 flex flex-row items-center justify-between mx-24">
		<article class="flex flex-row items-center gap-8">
			<a href="{{path('app_main')}}">
				<img src="{{asset('build/images/logo.png')}}" class="w-20" alt="logo site" loading="lazy">
			</a>
			<h1 class="text-4xl" font-bold>Tempus Mundi</h1>
		</article>
        <article class="flex flex-row items-center gap-4">
            <p>espace contributeur</p>
            {% if app.user %}
            <a href="{{ path('app_logout') }}" class="border border-black-500 bg-[#fae35e] rounded-xl p-2 h-12 " >Déconnexion</a>
            {% endif %}
            {% if app.user is null %}
            <a href="{{path('app_login')}}" class="border border-black-500 bg-[#fae35e] rounded-xl p-2 h-12 " >Connexion</a>
            {% endif %}
            {% if app.user %}
            <a href="{{path('admin')}}" class="border border-black-500 bg-[#fae35e] rounded-xl p-2 h-12 " >Admin</a>
            {% endif %}
        </article>
	</section>
	<section id="nav" class="flex-row justify-center mb-2 mx-10 bg-[#f5f5f5] shadow-2xl rounded-xl mt-2 w-[90vw]">
		<article class="flex flex-col justify-center items-center">
			<h2 class="text-xl font-bold">Filtres :</h2>
			<div id="filtres" class="flex flew-row justify-center items-center w-full gap-8">
				<div class=" flex flex-col items-center">
					<p>types d'évenements :</p>
					<select name="eventType" id="typeInput" class="border-1 border-black bg-white">
						<option value="" class="bg-white border">tous</option>
						{% for type in eventsType %}
							<option value="{{ type.name }}" class="bg-white border">{{ type.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class=" flex flex-col items-center">
					<p>recherche par période :</p>
					<select name="eventPeriod" id="periodInput" class="border-1 border-black bg-white">
						<option value="" class="bg-white border">tous</option>
						{% for period in eventsPeriod %}
							<option value="{{ period.name }}" class="bg-white border">{{ period.name }}</option>
						{% endfor %}
					</select>

				</div>
				<div class=" flex flex-col items-center">
					<p>recherche par thème :</p>
					<select name="eventTheme" id="themeInput" class="border-1 border-black bg-white">
						<option value="" class="bg-white border">tous</option>
						{% for theme in eventsTheme %}
							<option value="{{ theme.name }}" class="bg-white border">{{ theme.name }}</option>
						{% endfor %}
					</select>
				</div>
                <div class=" flex flex-col items-center">
					<p>recherche par zone :</p>
					<select name="eventZone" id="zoneInput" class="border-1 border-black bg-white">
						<option value="" class="bg-white border">tous</option>
						{% for zone in eventsZone %}
							<option value="{{ zone.name }}" class="bg-white border">{{ zone.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</article>
		<article class="mx-12">
			<div>
				<label for="yearInput">Sélectionnez des dates :
					<span id="currentYearDisplay" class="text-3xl font-semibold">année 1</span>
					<span class="text-2xl font-extrabold">/</span>
					<span id="currentYearDisplay2" class="text-3xl font-semibold"></span>
				</label><br>
				<input type="range" id="yearInput" min="100" max="1600" value="395" class="w-[85vw]">
				<input type="range" id="yearInput2" min="100" max="1600" value="395" class="w-[85vw]">
			</div>
			<div class="flex flex-row items-center justify-center mb-2">
				<button id="inputBttn" class="p-2 bg-gray-200 border-2 border-black mb-2">Chercher</button>
			</div>
		</article>
	</section>
</header>
