{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
	<section class="page-container flex-col">
		<h1 class="center">ACCUEIL CONTRIBUTEURS</h1>
		<article class="flex-row mt">
			<div class="flex-col card center">
				dernier évenement:
				<p class="title">
					{{ lastEvent.title }}</p>
				<p class="card-date year">{{ lastEvent.year }}</p>
				<img src="{{asset('upload/' ~ lastEvent.eventpicture)}}" alt="Image de l'événement" class="card-image">
				<p class="card-description">
					{{ lastEvent.shorttext }}
				</p>
				<p>auteur:
					<span class="title">{{ lastEvent.author }}</span>
				</p>
			</div>
			<div class="flex-col gap">
				<div class="card ml">
					<p class="title">
						Nombre d'évenements mis en ligne par les contributeurs:
						<span class="year">
							{{ totalEvents }}
						</span>
					</p>
				</div>
				<div class="card ml">
					<p>
						Nombre d'évenements mis en ligne par les contributeurs:
						<span class="text-xl font-bold">
							{{ totalEvents }}
						</span>
					</p>
				</div>
			</div>
		</article>
	</section>
	<section class="page-container flex-col mt">
		<h2>Conseils d'utilisations</h2>
		<article class="flex-col center">
			<p>Selon le rôle attribué, vous avez accés à l'édition et la création d'évenements et/ou l'édition et la création de frontières.
			</p>
			<div class="flex-col">
				<h3>A l'attention des mappeurs</h3>
				<p>Des outils fort utiles sont disponibles pour vous faciliter la tâche.</p>
				<ul>
					<li>
						<p><span class="font-bold underline-offset-2">Geojson.io<span> : Création de couches sur la carte. Possibilité de rentrer manuellement les coordonnées GPS ou de "dessiner" sur la carte. Les données sont directement au bon format dans l'encart à droite:
							<a href="https://geojson.io/#new&map=2/0/20">geojson.io</a>
						</p>
					</li>
					<li>
						<p>geojson-maps : Ressource pour avoir une base selon le pays dans le bon format:
							<a href="https://geojson.io/#new&map=2/0/20">https://geojson-maps.kyd.au/</a>
						</p>
					</li>
					<li>
						<p>Dépot : Dépot google drive de partage des couches au format geojson:
							<a href="https://geojson.io/#new&map=2/0/20">https://geojson-maps.kyd.au/</a>
						</p>
					</li>
				</ul>
			</div>
		</article>
	</section>
{% endblock %}
