<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tempus Mundi{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset('build/images/logo.png')}}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-[#f3ead3]">
        {% block header %}
            {{ include('main/nav.html.twig') }}
        {% endblock %}
        <main class="mx-24">
        {% block body %}
        {{ include('main/index.html.twig') }}
        {% endblock %}
        </main>
        {% block footer %}
            {{ include('main/footer.html.twig') }}
        {% endblock %}
    </body>
</html>
